<!--
    File Name: error.ejs
    Author's Name: Sorada Prathan
    Student ID: 301270677
    Web App Name:Favourite Book List App
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
